* {font-family: 'Work Sans', sans-serif;}
body {
	margin: 0 auto;
}

input {
  display: inline;
  margin: 10px;
}

::placeholder { 
    color: #ccc;
    opacity: 1;
}

form {

}
main, header {
	max-width: 90%;
	margin: 0 80px;
}
header {text-align:center;}

h1 {font-family: 'Rock Salt', cursive;}